<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lplus">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:hardwareAccelerated="false"
        android:largeHeap="true"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBdDH73DMCqSxaq_bdgsntFmbzxFAMMiwc" />

        <!-- Activities -->
        <activity
            android:name=".activities.activities.HomeActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name=".activities.activities.SplashActivity" />
        <activity android:name=".activities.activities.AddPlaceActivity" />
        <activity android:name=".activities.activities.FavouriteActivity" />
        <activity android:name=".activities.activities.PreSplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.activities.EditPhotosActivity" />
        <activity android:name=".activities.activities.PostSplashActivity"></activity>
    </application>

</manifest>